<div class="card">
    <div class="card-body">
        <b-container v-show="flag">
        
            <b-row class="zero-padding">
                <b-col cols="2">
                    <router-link to="">
                        <img :src="profileImg" class="imgshape" />
                    </router-link>
                </b-col>
        
                <b-col>
                    <router-link to="">
                        <p class="titleHandel">{{title}}</p>
                    </router-link>
                </b-col>
            </b-row>
        
        </b-container>
        <b-container>
            <b-row class="zero-padding">
                <img :src="photo" class="imgFit">
                <a href="">{{link}}</a>
                <br>
                <p class="card-text">{{ content }}</p>
                <a href=""></a>
                <div>
                    <router-link v-for="t in tag" :key="t.tag" to="">{{t}} </router-link>
                </div>
            </b-row>
        </b-container>
        <br>
        <b-row class="zero-padding">
            <b-col>
                <router-link class="note" to="/nopage">{{ notes }} note</router-link>
            </b-col>
            <b-col>
                <div class="iconsDiv">
        
                    <b-dropdown class="dropup" size="lg" dropup text="Drop-Up" variant="link"
                        toggle-class="text-decoration-none" no-caret>
                        <template #button-content>
                            <b-icon class="h4 mb-2 cardIcons" icon="three-dots"></b-icon>
                        </template>
                        <b-dropdown-item href="#">Facebook</b-dropdown-item>
                        <b-dropdown-item href="#">Tweet</b-dropdown-item>
                        <b-dropdown-item href="#">Reddit</b-dropdown-item>
                        <b-dropdown-item href="#">Mail</b-dropdown-item>
                        <b-dropdown-item href="#">Embed</b-dropdown-item>
                        <b-dropdown-item href="#">Permalink</b-dropdown-item>
                    </b-dropdown>
        
        
        
                    <router-link class="note" to="/nopage">
                        <b-icon class="h4 mb-2 cardIcons" icon="arrow-repeat"></b-icon>
                    </router-link>
                    <router-link class="note" to="/nopage">
                        <b-icon class="h4 mb-2 cardIcons" icon="heart"></b-icon>
                    </router-link>
                </div>
            </b-col>
        </b-row>



        
        
    </div>
</div>




<b-card class="CARD">

    


    
    
</b-card>